main{
    background-image:linear-gradient(whitesmoke, var(--main-color));
}

main section{
    display: block;
    background-color: whitesmoke;
    margin: 3em auto;
    position: relative;
    box-shadow: 1px 3px 7px var(--main-color);
    width: 55%;
    border-radius: 5px;
}

main section h3{
    color:var(--main-color);
    background-color: var(--secondary-color);
    padding: 0.5em;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
}

main section .reponse{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

main section .reponse .survey-answers-button{
    width: 45%;
    margin-bottom: 1em;
    text-align: center;
}

main section .reponse .survey-answers-button button{
    width: 100%;
    padding: 3em;
    height: 8em;
    background-color: transparent;
}

main section .reponse .survey-answers-button:first-child{
    background-color: rgba(255, 0, 0, 0.6);
}

main section .reponse .survey-answers-button:nth-child(2){
    background-color: rgba(255, 255, 0, 0.6);
}

main section .reponse .survey-answers-button:nth-child(3){
    background-color: rgba(0, 255, 255, 0.6);
}

main section .reponse .survey-answers-button:last-child{
    background-color: rgba(255, 0, 255, 0.6);
}